body {
  font: normal 10pt sans-serif;
  margin: 1em 1em 50vh;
  text-align: center;

  /* Note that this variable is also referenced in the JavaScript code */
  --markerSize: 1px;
}

a {
  text-decoration: none;
}

h1 {
  align-items: center;
  display: inline-flex;
}

h1 img.icon {
  margin: 0 1em 0;
}

.marker {
  border: 1px solid white;
  display: block;
  height: var(--markerSize);
  visibility: hidden;
  width: var(--markerSize);
}

.marker.visible {
  visibility: initial;
}

#marker1 {
  background: red;
  margin: 0 0 0 25vw;
}

#marker2 {
  background: lime;
  margin: 0 0 0 75vw;
}

#guidesDiv {
  display: flex;
  gap: 1em;
}

.guideDiv {
  flex: 1;
}

.guideDiv h2 {
  align-items: center;
  display: inline-flex;
}

.guideDiv img.icon {
  margin: 0 1em 0;
  width: 3em;
}

.guideDiv img {
  max-width: 300px;
}

@media (orientation: portrait) {
  #guidesDiv {
    flex-direction: column;
  }
}

canvas {
  box-shadow: 1px 1px 1ex rgba(0, 0, 0, .5);
  display: block;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
}
