body {
  font: normal 10pt sans-serif;
  margin: 1em 1em 50vh;
  text-align: center;

  /* Note that this variable is also referenced in the JavaScript code */
  --markerSize: 1px;
}

body.firefox .guideDiv.firefox { display: initial; }
body.firefox .guideDiv.safari { display: none; }
body.firefox .guideDiv.chrome { display: none; }
body.safari .guideDiv.firefox { display: none; }
body.safari .guideDiv.safari { display: initial; }
body.safari .guideDiv.chrome { display: none; }
body.chrome .guideDiv.firefox { display: none; }
body.chrome .guideDiv.safari { display: none; }
body.chrome .guideDiv.chrome { display: initial; }

a {
  text-decoration: none;
}

h1 {
  align-items: center;
  display: inline-flex;
}

h1 img {
  margin: 0 1em 0;
}

.marker {
  border: 1px solid white;
  display: block;
  height: var(--markerSize);
  visibility: hidden;
  width: var(--markerSize);
}

.marker.visible {
  visibility: initial;
}

#marker1 {
  background: red;
  margin: 0 0 0 25vw;
}

#marker2 {
  background: lime;
  margin: 0 0 0 75vw;
}

.guideDiv {
  display: none;
  flex: 1;
}

.guideDiv img.icon {
  width: 3em;
}

.guideDiv img {
  max-width: 300px;
}

canvas {
  box-shadow: 1px 1px 1ex rgba(0, 0, 0, .5);
  display: block;
  margin: 0 auto;
  max-height: 100vh;
  max-width: 100vw;
}
